@font-face {
	font-family: "HunimalSansv1.5";
	src: url('/font/HunimalSansv1.5.ttf');
}

.hunimal-font {
	font-family: "HunimalSansv1.5";
}

#container {
	margin: 0 auto;
	min-width: 700px;
	width: 60%;
}

.video-block {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
    vertical-align: top;
    max-width: 220px;
    text-align: center;
    overflow: hidden;
}

.video-block .video-name{
	font-weight: bold;
	font-size: 18px;
}

.video-search-block {
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
}

.video-block img, .video-search-block img {
	max-width: 200px;
	max-height: 120px;
}

.video-search-block img {
    padding-right: 10px;
    padding-top: 10px;
}

.video-search-quote {
    font-size: small;
}

.reply-thumb {
    max-width: 120px;
    max-height: 80px;
    vertical-align: bottom;
}
#search, #keywords {
    margin-top: 10px;
    margin-bottom: 10px;
}
.small-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
