#container {
	margin: 0 auto;
	min-width: 600px;
	width: 60%;
}

label {
	width: 150px;
	display: inline-block;
}

.video-block {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 280px;
}

.video-block .video-name{
	font-weight: bold;
	font-size: 18px;
}

.video-block img {
	max-width: 240px;
	max-height: 100px;
}
